{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
  <div class="container">
    <h3>Altere sua senha</h3>
    <form method="post">
      {% csrf_token %}
      <p><label for="id_new_password1">Nova Senha:</label> <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"> <span class="helptext"><ul><li>Sua senha não pode ser uma senha comum.</li></ul></span></p>
      <p><label for="id_new_password2">Confirmar nova senha:</label> <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"></p>
      <button type="submit">Alterar senha</button>
    </form>
  {% else %}
    <p>
      O link de resetar senha está incorreto, possivelmente porque ele já foi utilizado.
      Por favor, solicite um novo link para resetar sua senha.
    </p>
  </div>
  {% endif %}
{% endblock %}
