{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
  <h1> Editar Produto </h1>
  <h4 style="color:blue;"> {{ mensagem }} </h4>
<form method="POST" action="{% url 'alterarProduto' produto.id %}" enctype="multipart/form-data">
    {% csrf_token %}
      <p> <label> Código Produto: </label> <input type="text" maxlength="30" name="cod_produto" value="{{produto.cod_produto}}">
      <p> <label> Descrição Produto: </label> <input type="text" maxlength="100" name="des_produto" value="{{produto.des_produto}}">
      <p> <label> Preço Unitário: </label> <input type="decimal" name="preco_unitario" value="{{produto.preco_unitario}}">
      <p> <label> Valor Custo: </label> <input type="decimal" name="valor_custo" value="{{produto.valor_custo}}">
      <p> <label> Coleção: </label> <input type="text" maxlength="30" name="colecao" value="{{produto.colecao}}">
      <p> <label> Qtde. Estoque: </label> <input type="number" size="5" name="qtde_estoque" value="{{produto.qtde_estoque}}">
      <p><label> Categoria:</label> <select name="cod_categoria" id="cod_categoria">
        <option value="{{produto.cat_id}}" selected>{{produto.des_categoria}}</option>
       {% for categoria in categorias %}
           <option value="{{ categoria.id }}"> {{ categoria.des_categoria }} </option>
       {% endfor %}
      </select> </p>
      <p><label> Fornecedor:</label> <select name="id_fornecedor" id="id_fornecedor">
        <option value="{{produto.id_fornecedor}}" selected>{{produto.nome_fornecedor}}</option>
       {% for fornecedor in fornecedores %}
           <option value="{{ fornecedor.id }}"> {{ fornecedor.nome_fornecedor }} </option>
       {% endfor %}
      </select> </p>
      <p><label> Foto do Produto: </label> <input id="img_produto" type="file" name="img_produto" onchange='fileSelect(img_produto, event)'/> </p>
      {% if produto.img_produto %}
        <img width="200px;" height="150px;" src="{{produto.img_produto.url}}"/> </br></br>
      {% endif %}
    <button type="submit"> Atualizar dados </button>
  </form>
</div>


{% endblock %}
