{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container">
  <h1> Editar Maleta Produto </h1>
  <h4 style="color:blue;"> {{ mensagem }} </h4>
<form method="POST" action="{% url 'alterarMaletaProduto' maleta.id maleta.cod_produto %}">
    {% csrf_token %}
    <p> <label> Nome Maleta: {{maleta.nome_maleta}} </label> <input hidden name="nome_maleta" value="{{maleta.nome_maleta}}"> </p>
    <p><label> Produto: </label> <select name="cod_produto">
      <option value="{{produto.cod_produto}}" selected>{{produto.des_produto}}</option>
     {% for produto in produtos %}
         <option value="{{ produto.cod_produto }}"> {{ produto.des_produto }} </option>
     {% endfor %}
    </select> </p>
    <p> <label> Quantidade: </label> <input type="number" name="quantidade" value="{{maleta.quantidade}}"> </p>
    <button type="submit"> Atualizar dados </button>
  </form>
</div>
{% endblock %}
