{% extends 'base.html' %}
{% load static %}

{% block head%}
  <title> Registrar Venda </title>
{% endblock %}

{% block body%}
<div class="container">
  <h1> Adicionar Produto Venda Vendedor </h1> </br>
  <h4 style="color:blue;"> {{ mensagem }} </h4>
    <input hidden name="id_venda" value="{{venda_id}}">
    <input hidden name="vendedor" value="{{vendedor}}">
  <form method="POST" action="{% url 'adicionarProdutoVendaVendedor' venda_id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input hidden name="id_venda" value="{{venda_id}}">
  <p><label> Produtos:</label> <select name="cod_produto" id="cod_produto">
    <option value="" selected>---------</option>
   {% for produto in produtos %}
       <option value="{{ produto.cod_produto }}"> {{ produto.des_produto }} </option>
   {% endfor %}
  </select> </p>
  <p><label> Quantidade: </label> <input type="number" size="3" name="quantidade"></p>
  <button type="submit"> Adicionar Produto </button>
  </form>
</div>
{% endblock %}
